*{
    margin:0;
    padding:0;
    list-style: none;
}
@font-face {
    font-family: 'NovemberStarlight';
    src: url('../fonts/NovemberStarlight.ttf');
}
@font-face {
    font-family: 'IntriqueScript_PersonalUse';
    src: url('../fonts/IntriqueScript_PersonalUse.ttf');
}
@font-face {
    font-family: 'ruiyuan';
    src: url('../fonts/ruiyuan.otf');
}
.index-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg")no-repeat center center;
    background-size: 100% 100%;
    overflow: hidden;
}
.bg-1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg-1.png")no-repeat center center;
    background-size: 100% 100%;
    overflow: hidden;
}
.left-img{
    background: url("../images/PG-ONE_01.png")no-repeat center center;
    width: 50%;
    height: 60%;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.right-img{
    background: url("../images/PG-ONE_03.png")no-repeat center center;
    width: 50%;
    height: 50%;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.center-font{
    position: relative;
    background: url("../images/PG-ONE1_03.png")no-repeat center center;
    width: 420px;
    height: 244px;
    margin: 0 auto;
    background-size: 100% 100%;
    text-align: center;

}
.center-font1{
    position: relative;
    width: 420px;
    height: 244px;
    margin: 0 auto;
    background-size: 100% 100%;
    text-align: center;

}
.center-font1 h1{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    font-family: NovemberStarlight;
    font-size: 120px;
    font-weight: normal;
    /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;*/
    background: -webkit-linear-gradient(top,#e6c276 10%, #532607 , #a96818);
    -webkit-background-clip: text;         /* 规定背景的划分区域 */
    -webkit-text-fill-color: transparent;
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}
.light{
    position: absolute;
    background-size: 100% 100%;
    z-index: 2;
    width: 550px;
    top:15px;
    opacity:0.8;
}
.pg{
    padding-top: 105px;
    z-index: 3;
    position: relative;
}
.pg img{
    width: 207px;
}
.bottom-text{
    text-align: center;
    z-index: 3;
}
.bottom-text h4{
    color: #fff;
    font-family: IntriqueScript_PersonalUse;
    font-size: 40px;
    font-weight: normal;
}
.bottom-text h5{
    color: #fff;
    font-family: 仿宋;
    font-size: 16px;
    font-weight: normal;
}
.more-item a{
    color: #fff;
    cursor: pointer;
    font-family: "Microsoft YaHei UI";
    display: block;
    padding: 5px 15px;
    width: 90px;
    border:2px #fff double;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 14px;
    z-index: 3;
    letter-spacing: 5px;
}
.bottom-item{
    padding-top: 30px;
    z-index: 4;
    position: relative;
}
.bottom-item a{
    color: #af6f1e;
    cursor: pointer;
    font-family: "Microsoft YaHei UI";
    display: block;
    padding: 5px;
    border-radius: 50px;
    border:1px #af6f1e solid;
}
.bottom-left{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
/*
title阴影特效*/
.title-box {
    width:440px;
    border:3px solid #ffcc7b;
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff, 0 0 5px #000, 0 0 15px #fff, 0 0 40px #ffcc7b, 0 0 70px #ffcc7b;
    border-image: linear-gradient(90deg, transparent 0%, transparent 49%);
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}
/*.title-box:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -webkit-filter: blur(5vw);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffb50f',endColorStr='#8d0fff',gradientType='1');
    background: linear-gradient(270deg, #ffb50f, #8d0fff);
    background: -moz-linear-gradient(270deg, #ffb50f, #8d0fff);
    background-size: 200% 200%;
    opacity: .2;
    animation: animateGlow 5s ease infinite;
}*/
.title-box h1 {
    margin: auto;
    color: #e1a050;
    font-size:45px;
    font-weight: normal;
    font-family: "ruiyuan";
    text-shadow: 0px 0px 15px #ffcc7b;
    letter-spacing:10px;
}
.title-box p {
    flex: 1;
    line-height: .75;
    margin: auto;
    color: #e1a050;
    text-align: center;
    transform: scaleX(var(--scale, 1));
    font-size:45px;
    font-weight: normal;
    font-family: "ruiyuan";
    text-shadow: 0px 0px 15px #ffcc7b;
    letter-spacing:10px;
    padding: 7px;
    cursor: pointer;
}
.gelatine {
    animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}
.pulse1 {
    animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse1 {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}
.spin {
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
a {
    text-decoration:none;
    color:#FFF;
}
.rainbow-button {
    margin: 10px auto;
    width:calc(8vw + 4px);
    height:calc(3vw + 4px);
    background-image: linear-gradient(90deg, #ffd400 0%, #FFCF00 49%, #fc8d4f 80%, #ffd400 100%);
    border-radius:4px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:1vw;
    font-weight:normal;
    letter-spacing: 5px;
}
.rainbow-button:after {
    content:attr(title);
    width:8vw;
    height:3vw;
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
}
.rainbow-button:hover {
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}
@media only screen and (max-width: 768px) {
    .title-box{
        width:80%;
        margin: 5px auto;
    }
    .title-box p {
        color: #e1a050;
        font-size: 30px;
    }
    .title-box h1 {
        color: #e1a050;
        font-size: 30px;
    }

    .center-font{
        width: 320px;
        height: 144px;
        padding-top: 10%;
    }
    .center-font1{
        width: 320px;
        height: 144px;
        padding-top: 10%;
    }
    .center-font1 h1{
        font-size: 90px;
    }
    .light{
        width: 100%;
    }
    .rainbow-button {
        width:64px;
        height:34px;
    }
    .rainbow-button:after {
        width:60px;
        height:30px;
    }
    .bottom-left {
        bottom: 30px;
        left: 10%;
        transform: translate(-50%);
    }
    #song{
        top: 50px;
    }
}
@media only screen and (max-width: 360px) {
    .bottom-item{
        padding-top: 0px;
    }
    .bottom-left{
        bottom: 40px;
        left: 15%;
    }
}
@media only screen and (max-width: 320px) {
    .bottom-item{
        padding-top: 15px;
    }
    .bottom-left{
        bottom: 40px;
        left: 15%;
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
::-moz-selection {
    color: #FFF;
    background: none;
}

::selection {
    color: #FFF;
    background: none;
}
.hole {
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 0 9999em #000;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    transition: width .5s ease-in-out, height .5s ease-in-out, margin .5s ease-in-out;
}

.hole:after {
    content: "";
    display: block;
    margin: -1% 0 0 -1%;
    width: 102%;
    height: 102%;
    box-shadow: inset 0 0 50px 50px #000;
    border-radius: 50%;
}

.hole:active {
    margin: -250px 0 0 -250px;
    width: 500px;
    height: 500px;
    transition: width 1s ease-in-out, height 1s ease-in-out, margin 1s ease-in-out;
}
.loader-7 .line { width: 4px; position: absolute; border-radius: 5px; bottom: 0; background: -webkit-gradient(linear, left top, left bottom, from(#fedb30), to(#ce1414)); background: -webkit-linear-gradient(top, #fedb30, #ce1414); background: linear-gradient(to bottom, #fedb30, #ce1414); }
.loader-7 .line1 { left: 0; -webkit-animation: line-grow 0.5s ease alternate infinite; animation: line-grow 0.5s ease alternate infinite; }
.loader-7 .line2 { left: 10px; -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite; animation: line-grow 0.5s 0.2s ease alternate infinite; }
.loader-7 .line3 { left: 20px; -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite; animation: line-grow 0.5s 0.4s ease alternate infinite; }
.loader { position: relative; width: 30px; height: 30px; border-radius: 50%; display: inline-block; vertical-align: middle; }


@-webkit-keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}
@keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}
/*
pgone动画*/
@-moz-keyframes wavemover {
    100% {
        padding-left: 200px;
        transform: translateX(-100px);
    }
}
@-webkit-keyframes wavemover {
    100% {
        padding-left: 200px;
        transform: translateX(-100px);
    }
}
@-o-keyframes wavemover {
    100% {
        padding-left: 200px;
        transform: translateX(-100px);
    }
}
@keyframes wavemover {
    100% {
        padding-left: 200px;
        transform: translateX(-100px);
    }
}
/*
btn动画*/
.bar-anchor{
    padding: 20px 10px;
    margin:10px 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    overflow:hidden;
    letter-spacing: 4px;
    font-size: 14px;
    /*    border:1px solid #6098FF; */
}
.bar-anchor span{
    background:#000;
    width:100%;
    position:relative;
    padding:10px 40px;
    -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    /*   border:1px solid #6098FF;  */
}
.transition-bar{
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background: #ffe580;
    z-index:-1;
    /*     -ms-transform: skewX(-20deg);
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg); */
}
.bar-anchor:hover span{
    color: #ffe580!important;
}
.bar-anchor:hover .transition-bar{
    width:120%;
    left:110%;
    -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}
@-webkit-keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FF9900,
        0 0 70px  #FF9900,
        0 0 80px  #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
    }
}

@-moz-keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FF9900,
        0 0 70px  #FF9900,
        0 0 80px  #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
    }
}
@keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FF9900,
        0 0 70px  #FF9900,
        0 0 80px  #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
    }
}
@-moz-keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ff00de,
        0 0 70px #ff00de,
        0 0 80px #ff00de,
        0 0 100px #ff00de,
        0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #ff00de,
        0 0 35px #ff00de,
        0 0 40px #ff00de,
        0 0 50px #ff00de,
        0 0 75px #ff00de;
    }
}
@keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ff00de,
        0 0 70px #ff00de,
        0 0 80px #ff00de,
        0 0 100px #ff00de,
        0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #ff00de,
        0 0 35px #ff00de,
        0 0 40px #ff00de,
        0 0 50px #ff00de,
        0 0 75px #ff00de;
    }
}
@-webkit-keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ff00de,
        0 0 70px #ff00de,
        0 0 80px #ff00de,
        0 0 100px #ff00de,
        0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #ff00de,
        0 0 35px #ff00de,
        0 0 40px #ff00de,
        0 0 50px #ff00de,
        0 0 75px #ff00de;
    }
}

.btn {
    overflow: visible;
    width: 30%;
    margin: 10px auto;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 15px 12px;
    letter-spacing: 5px;
    background-color: #fff;
    color: #666;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 16px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.btn--stripe {
    overflow: hidden;
    position: relative;
}
.btn--stripe:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: -webkit-repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}
.btn--stripe:hover {
    background-color: #666;
    color: #fff;
    border-color: #000;
}
.btn--stripe:hover:after {
    background-image: -webkit-repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
    animation: stripe-slide 12s infinite linear forwards;
}
@-webkit-keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}